@import './variables.scss';

.contact {
    @include flex;
    flex-direction: column;
    background-color: $light-green;
    height: 90vh;
    padding: 30px 0 120px;

    @include bp($lg) {
        padding: 30px 0 60px;
    }

    @include bp($sm) {
        padding: 0;
    }

    &_title {
        text-align: center;

        @include bp($sm) {
            padding: 20px;
        }
    }

    &_options {
        position: relative;
        @include flex;
        gap: 30px;
        flex: 1;
        flex-direction: column;
        font-size: 42px;
        background-image: radial-gradient(ellipse closest-corner at 50% 50%, white 30%, transparent 75%);

        @include bp($md) {
            font-size: 34px;
        }

        & a {
            z-index: 10;
            text-decoration: none;
            color: inherit;
            padding: 0 15px;

            @include bp($sm) {
                font-size: 20px;
                line-break: anywhere;
                padding: 0 10px;

            }

            &:visited {
                color: inherit;
            }

            &:focus {
                outline: 2px solid $cta-color;
            }
        }

        &-whatsapp {}

        &-bgImg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: .15;
            width: 120%;
            border-radius: 35px;
            z-index: 0;

            @include bp($lg) {
                width: 100%
            }

            @include bp($sm) {
                // width: auto;
            }
        }

    }

    &_name {
        @include flex;
        font-family: $Brown;
        letter-spacing: 3px;
        font-size: 42px;
        margin-top: 80px;

        @include bp($lg) {
            font-size: 35px;
        }

        @include bp($md) {
            margin-top: 0px;
            font-size: 25px;
        }

        @include bp($sm) {
            flex-direction: column;
            font-size: 18px;
            gap: 5px;
            margin-bottom: 20px;
        }

        &-logo {
            margin: 0 20px;

            & svg {
                width: 50px;
                height: auto;

                @include bp($sm) {
                    width: 30px;
                }
            }
        }
    }
}