@import './variables.scss';

.me {
    @include flex;
    gap: 50px;
    align-items: flex-start;
    padding: 0 100px;

    @include bp($lg) {
        align-items: center;
        flex-direction: column-reverse;
    }

    @include bp($sm) {
        padding: 0;
    }

    & img {
        width: 35%;
        border-radius: 25px;

        @include bp($sm) {
            width: 50%;
        }
    }

    &_content {
        @include flex;
        gap: 20px;
        flex-direction: column;
        align-items: flex-start;

        @include bp($xl) {
            gap: 0;
        }

        @include bp($sm) {
            padding: 0 20px;
        }

        &_area {
            padding: 10px 30px;

            @include bp($lg) {
                padding: 10px 0;
            }

            &-title {
                border-bottom: 1px solid $primary-color;
                font-weight: bold;
                margin: 0;
                cursor: pointer;
                width: fit-content;

                @include bp($xl) {
                    font-size: 24px;
                }

                @include bp($sm) {
                    font-size: 20px;
                }

                &-svg {
                    padding-left: 20px;

                    @include bp($sm) {
                        & svg {
                            width: 20px;
                            transform: translateY(5px);
                        }
                    }
                }
            }

        }

        &_msg {
            font-weight: bold;
            font-size: 32px;
            color: $primary-color;
            padding: 30px 80px;
            text-align: center;

            @include bp($xl) {
                padding: 0;
                font-size: 24px;
                margin-top: 60px;
            }
        }

        &_name {
            text-align: center;
            margin: auto;
        }
    }
}