@import './variables.scss';

.me {
  @include flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  padding: 0 100px;
  margin-top: 150px;

  @include bp($lg) {
    align-items: center;
  }

  @include bp($md) {
    padding: 0 50px;
    gap: 20px;
  }

  @include bp($sm) {
    padding: 0 20px;
    margin-top: 50px;
  }

  &_presentation {
    @include flex;
    gap: 50px;
    align-items: stretch;

    @include bp($sm) {
      flex-direction: column-reverse;
    }

    &_picture {
      @include flex;
      flex-direction: column;
      justify-content: end;

      & .picture {
        width: 70%;
        border-radius: 25px;

        @include bp($md) {
          width: 100%;
        }

        @include bp($sm) {
          width: 50%;
        }
      }

      & .firma {
        align-self: flex-end;
        width: 35%;
      }
    }

    &_msg {
      @include flex;
      gap: 20px;
      flex-direction: column;
      font-size: 32px;

      @include bp($xl) {
        font-size: 24px;
      }

      &-quote {
        font-weight: bold;
        color: $primary-color;
        text-align: center;
        margin: -10px auto;

        @include bp($md) {
          margin: 20px 0;
        }

        @include bp($sm) {
          display: none;
        }
      }

      &-text {
        background-color: $beige;
        padding: 20px 40px;
        width: fit-content;
        margin: auto;
        border-radius: 15px;

        li + li {
          margin-top: 1rem;

          @include bp($xl) {
            margin-top: 0.5rem;
          }
        }
      }
    }
  }

  &_content {
    &-title {
      cursor: pointer;
      text-align: left;
      text-decoration: underline;
      text-transform: uppercase;
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 2px;

      @include bp($xl) {
        font-size: 20px;
      }

      @include bp($sm) {
        font-size: 16px;
      }
    }

    @include bp($md) {
      &-text {
        margin: 0 15px;
      }
    }
  }

  &_areas {
    width: 100%;
    @include flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;

    @include bp($xl) {
      gap: 0;
    }

    @include bp($md) {
      flex-direction: column;
      margin-top: 10px;
    }

    &_area {
      width: 50%;
      text-align: justify;
      display: flex;
      flex-direction: column;
      align-items: center;

      @include bp($lg) {
        padding: 10px 0;
      }

      @include bp($md) {
        width: auto;
      }

      &-title {
        font-weight: bold;
        margin: 0 0 20px;
        width: fit-content;

        @include bp($xl) {
          font-size: 24px;
        }

        @include bp($sm) {
          font-size: 20px;
        }
      }

      &-text {
        margin: 0 15px;
      }

      & img {
        width: 30%;

        @include bp($md) {
          width: 40%;
        }

        @include bp($sm) {
          width: 60%;
        }
      }
    }
  }
}
