@import './variables.scss';

.process {

    &_content {
        padding: 0 100px;
    }

    &_steps{
        display: flex;
        gap: 35px;

        & img{
            width: 25%;
        }

        &_step{
            margin: 30px 0;
            border-radius: 15px;
            padding: 20px;
            color: $white;
            background-color: $primary-color-2;

            & b{
                color: $cta-color-2;
            }
        }
    }

    &_cta {    width: fit-content;
        margin: 50px auto;
        a {
            text-decoration: none;
            color: $primary-color;
            font-weight: bold;
            font-size: 28px;

            @include bp($sm) {
                font-size: 20px;
            }

        }
    }

    @include bp($md) {
        padding: 0 40px;
    }
}