@import './variables.scss';

.process {
  padding: 0 100px;

  @include bp($md) {
    padding: 0 50px;
  }

  &_content {
    @include flex;
    gap: 30px;
    margin-top: 50px;

    & img {
      width: 15%;
      border-radius: 15px;
    }
  }

  &_list {
    list-style: none;
    padding: 0;

    &-item {
      position: relative;
      margin: 15px 0;

      &:before {
        content: '✓';
        position: absolute;
        left: -30px;
        color: $cta-color;
        font-size: 1.2em;
        font-weight: bold;
      }
    }
  }

  &_cta {
    text-align: center;
    width: fit-content;
    margin: 130px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    @include bp($lg) {
      margin: 0 auto;
    }

    @include bp($md) {
      text-align: center;
      margin: 90px auto;
      font-size: 24px;
    }

    a {
      text-decoration: none;
      font-weight: bold;
      border-radius: 15px;
      padding: 10px 30px;
      margin: 15px 0;
      color: $white;
      background-color: $primary-color;

      @include bp($sm) {
        font-size: 24px;
      }
    }
  }

  @include bp($md) {
    padding: 0 40px;
  }
}
