@import './variables.scss';

.process {
    margin-bottom: 50px;

    @include bp($sm) {
        margin-bottom: 100px;
    }

    &_title {
        margin: 80px;

        @include bp($sm) {
            margin: 40px;
        }
    }

    &_text {
        width: 70%;
        margin: auto;
        text-align: center;

        @include bp($md) {
            font-size: 28px;
        }

        @include bp($sm) {
            font-size: 18px;
            width: 90%;
        }

        & a {
            text-decoration: none;
            color: $primary-color;
            font-weight: bold;
            font-size: 28px;
        }
    }
}